include includes/header.pug

.container
	form.form-signin
		img.mb-4(src='../../assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
		h1.h3.mb-3.font-weight-normal.text-center User Login
		label.sr-only() User Name
		input.form-control(type='text', name='username', placeholder='User Name', required='', autofocus='')
		br
		label.sr-only() Password
		input.form-control(type='password', name='password', placeholder='Password', required='')
		p
			| No Account? 
			a(href='/users/register') Register
		button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
	
include includes/footer.pug

link(rel='stylesheet', href='/css/signin.css')